/* Define CSS custom properties for easier theme management */
:root {
    --grid-cols: 1;
    --grid-rows: 1;
    --primary-color: #f0f0f0;
    --border-color: #e0e0e0;
    --text-color: #333;
    --background-color: #fff;
    --container-border: #d1d1d1;
}

/* Body styles to center content and set background properties */
body {
    margin: 0;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    min-height: 100vh; /* Minimum height to fill viewport */
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    background-image: url(./images/bg.jpg); /* Background image */
    background-position: bottom; /* Position background image */
    background-color: rgb(107, 126, 254); /* Fallback background color */
}

/* Main container styles to center children elements */
#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

/* Pixel Block styles for grid layout and animations */
.block {
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(40, 0.3125rem);
    grid-template-rows: repeat(40, 0.3125rem);
    gap: 1px;
    cursor: pointer;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    background: rgb(239, 29, 140);
    border-radius: 10px 10px 0 0;
    height: 50svw;
    max-height: 55vh;
    min-height: 20rem; 
    width: 40vw;
    max-width: 40vh;
    min-width: 15rem; 
    place-items: center;
    position: relative;
    overflow: hidden;
}

/* Animated block background */
.block::before {
    position: absolute;
    content: '';
    width: 50%;
    height: 180%;
    background-color: rgba(250, 225, 116);
    transform: rotate(45deg);
    animation: animate 2s linear infinite;
}

.block::after {
    position: absolute;
    content: '';
    inset: 5px;
    background: rgb(239, 29, 140);
}

/* Pixel styles for individual blocks */
.pixel {
    z-index: 1;
    width: 0.375rem; /* Adjust width for pixel effect */
    height: 0.375rem; /* Adjust height for pixel effect */
}

.pixel.broken {
    background-color: transparent;
}

/* Text inside the card */
.card-text {
    display: flex;
    color: rgba(254, 254, 254, 0.9);
    font-size: 2rem; 
    text-align: center;
    z-index: 1; 
}

/* Card Ordinal styles */
.card-ordinal {
    font-family: 'Press Start 2P', cursive;
    height: 4rem;
    width: 40vw;
    max-width: 40vh;
    min-width: 15rem; 
    background-color: #fff;
    border-radius: 0 0 10px 10px; /* Rounded bottom corners */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

/* Animation for the block */
@keyframes animate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Sidebar styles */
#sideBar {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 5px;
    left: 5px;
    color: rgb(206, 46, 128);
    padding: 0 0 0 30px;
    transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out, padding 0.3s ease-in-out;
    width: 1.25rem;
    height: 1.875rem;
    overflow: hidden;
    font-size: 14px;
}

/* Sidebar hover effect */
#sideBar:hover {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding-left: 1.875rem;
    border-radius: 0 0 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

/* Help icon padding inside sidebar */
#helpIcon {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}

/* Styled link styles */
.styled-link {
    font-size: 0.875rem;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.styled-link:hover {
    color: #ffffff;
}

/* Button styles */
button {
    width: 10rem;
    height: 4.6rem;
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    padding: 0.625rem;
    margin: 1.25rem;
    border-radius: 5px;
    border: 1px solid var(--container-border);
    background-color: var(--background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
    color: var(--background-color);
    background-color: var(--text-color);
}

/* Footer styles */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

/* Footer link styles */
footer a {
    margin: 0 10px; /* Adjust margin between links */
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #ffffff; /* Change color on hover */
}

/* Main body content container */
#mainBody {
    width: 90%;
    height: 90%;
    padding: 20px;
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    align-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Background shape behind main content */
#backShape {
    position: absolute;
    top: 0;
    left: 50%; /* Move the element to the horizontal center */
    transform: translateX(-50%); /* Adjust to center horizontally */
    background-color: rgba(255, 190, 12, 1);
    width: 400px;
    height: 70%;
    border-radius: 0 0 60px 60px;
}

/* Animation for floating effect */
@keyframes float {
    0% { transform: translate(0, 0); }
    100% { transform: translate(0, 500px); }
}

/* Game over screen styles */
#gameOverScreen {
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    z-index: 9999;
    display: none;
    background-color: #000;
    height: 50vw;
    max-height: 60vh;
    min-height: 20rem; 
    width: 40vw;
    max-width: 40vh;
    min-width: 15rem; 
}

/* Mario image inside game over screen */
#marioImg {
    width: 18.75rem;
    height: 18.75rem;
    justify-content: center;
    align-items: center;
}

/* Game over message styles */
#gameOverMessage {
    padding: 0.625rem;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.875rem;
    color: #fff;
    margin-bottom: 20px;
}

/* Try again button styles */
#tryAgainButton {
    background-color: #ffcc00;
    color: #000;
    padding: 0.625rem 1.25rem;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.9375rem;
    width: 10rem;
    margin: 0 auto;
}

#tryAgainButton:hover {
    background-color: #ffd700;
}

