/* Define CSS custom properties */
:root {
    --grid-cols: 1;
    --grid-rows: 1;
    --primary-color: #f0f0f0;
    --border-color: #e0e0e0;
    --text-color: #333;
    --background-color: #fff;
    --container-border: #d1d1d1;
}

/* Body styles */
body {
    margin: 0;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    min-height: 100vh; /* Minimum height to fill viewport */
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

/* Main container */
#content {
    display: flex;
    flex-direction: column;
}

/* Text inside the card */
.card-text {
    color: rgba(254, 254, 254, 0.9);
    font-size: 2em; /* Adjust the font size as needed */
    text-align: center;
    z-index: 1; /* Ensure the text is above other elements */
}

.card {
    height: 500px;
    width: 350px;
    display: grid;
    place-items: center;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    background-color: #222;
    overflow: hidden;
}

.card::before {
    position: absolute;
    content: '';
    width: 50%;
    height: 180%;
    background-color: #fff;
    transform: rotate(45deg);
}

.card::before {
    animation: animate 2s linear infinite;
}

@keyframes animate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.card::after {
    position: absolute;
    content: '';
    inset: 5px;
    background: #222;
    border-radius: 8px;
}

/* Styled link styles */
.styled-link {
    font-size: 14px;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.styled-link:hover {
    color: #ffffff;
}

/* Footer styles */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    border-top: 1px solid var(--border-color); /* Optional: add a border at the top */
    margin-top: 20px; /* Optional: adjust margin */
}

/* Footer link styles */
footer a {
    margin: 0 10px; /* Optional: adjust margin between links */
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #ffffff; /* Change color on hover */
}

/* Button styles */
button {
    font-size: .9rem;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    border: 1px solid var(--container-border);
    background-color: var(--background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
    color: var(--background-color);
    background-color: var(--text-color);
}